.questionCard{
  padding: .4em 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid .1em rgba(0, 0, 0, 0.1);
}

.qBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.qBtnContainer  button {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0;
  font-size: 1em;
  padding: .4em;
  margin: 0 .2em;
  color: rgba(0, 0, 0, 0.3);
}
.qBtnContainer  button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.qBtnContainer  button:active {
  background: rgba(0, 0, 0, 0.4);
}


@media (max-width: 700px) {
  .questionCard{
    text-align: center;
    padding-bottom: 1em;
    flex-direction: column;
  }
}