.gameCentCont {
  min-height: 100vh;
  background-image: url(../../../Assets/space_texture.png);
}
.gameCentralHeader{
  height: 6em;
  background-color:rgba(0, 0, 0, 0.2);
  padding-left: 2em;
  display: flex;
  align-items: center;
}

.createGameContainer{
  margin: 2em 0 4em 0;
  display:flex;
  justify-content: center;
}

.gamesDisplay{
  margin: 0 4em;
}

@media (max-width: 700px) {
  .createGameContainer{
    margin: 2em;
  }
  .createGameContainer button{
    width: 100%;
  }
  .gamesDisplay{
    margin: 0 2em;
  }
}