.navBar{
  height:7vh;
  width:100%;
  background-color:#3A3A3A;
  display: flex;
  justify-content: flex-end;
}

.navBarLinks{
  /* background-color:red; */
  height:7vh;
  width:30vw;
  display: flex;
  justify-content: flex-end;
  padding-right:2vw;
}

.navButton{
  border:none;
  height:100%;
  background-color:#3A3A3A;
  color:#FFFFFF;
  outline:none;
}

.navButton:hover{
  cursor: pointer;
  outline:none;
}

.gameCentralHeader{
  height: 11vh;
  width:100%;
  background-color:#3A88D6;
  opacity: 1.2;
  display: flex;
  align-items: center;
}

.gameCentralLogo{
  color:#FFFFFF;
  font-size:1.5rem;
  margin-left:1rem;
}

.gameCentralContainer{
  background-image: linear-gradient(146deg,#2493D8,#9559CE);
  width:100%;
  height:82vh;
}

.createGameContainer{
  height:13vh;
  width:100%;
  /* background-color:black; */
  display:flex;
  justify-content: center;
  align-items: flex-end;
}

.gameDisplayContainer{
  height:69vh;
  width:100%;
  /* background-color:lightblue; */
  display: flex;
  align-items: center;
  justify-content: center
}

.gameDisplay{
  height:60vh;
  width:85vw;
  /* background-color: #3A3A3A; */
}

.centralCreateButton{
  width:9rem;
  height:2.8rem;
  background-color:transparent;
  /* / */
  border-radius: 30px;
  border-color: #FFFFFF;
  color:#FFFFFF;
  border-style: solid;
  outline:none;
}

.centralCreateButton:hover{
  cursor: pointer;
  outline:none;
}
