.leaderBoardCont {
    background-image: linear-gradient( #000000, #2d2053);
    height: 100vh;
    width: 100%;
}

.leaderBoardBoxsCont {
    margin: 6em;
    display: flex;
    justify-content: center;
}

.leaderUsersBox {
    min-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leaderUsersBox button {
    margin-top: 1em;
}
.usernameScoreCont {
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 700px) {
    .leaderBoardBoxsCont {
        margin: 2em;
        flex-direction: column;
        align-items: center;
    }
}