#gameCreateModal{

}

.modal{
  /* display:none; */
  position: fixed;
  z-index:1;
  left:0;
  top:0;
  height:100%;
  width:100%;
  overflow:auto;
  background-color:rgba(0,0,0,.5);
}

.gameCreateModalContent{
  background-color: #FFFFFF;
  margin: 20% auto;
  padding:1rem;
  width:80%;
  box-shadow:0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
  height:50vh;

}

.closeBtn{
  float:right;

}

.closeBtn:hover{
  text-decoration: none;
  cursor:pointer
}