.join-banner {
 
}

.join-container{
  background-image: url(../../Assets/space_texture.png);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height:80vh;
  flex-direction: column;
  color: #ffffff;
}

input {
  background: white;
  width: 220px;
  height: 25px;
}

.join-btn {
  background: #824ED3;
}