.join-container{
  background-image: url(../../Assets/space_texture.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height:90vh;
  flex-direction: column;
}

input {
  background: white;
  border-color: gray;
  width: 220px;
  height: 25px;
}

.join-btn {
  background: #824ED3;
}