/* .container {
  display: none;
} */

.lobbyContainer{
  background-image: url('../../Assets/space_texture.png'),
                    linear-gradient(to top, rgb(64, 18, 104), black);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.spaceRaceImg {
  background-image: url('../../Assets/rocketrace_logo.png');
  width: 50%;
  height: 100%;
  background-repeat: no-repeat; 
  margin-left: 170px;
  margin-top: 300px;
}

.holder {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 50px;
}

.users{
  margin-right: 230px;
}

.lobbyUsers {
  display: flex;
  flex-direction: column;
}

.lobbyUsers p {
  font-size: 50px;
}

/* .lobbybox{
  height:80vh;
  width:40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.lobbyDescription{
  height:20vh;
  /* background-color:lightgray; */
  width:40vw;
  border-bottom:solid 2px white;
  color:white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.lobbyUsers{
  height:30vh;
  width:40vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lobbyBtn{
  height:10vh;
  width:30vw;
  margin-right: 90px;
}

.leaveBtn {
  height: 10vh;
  width: 30vw;
  margin-right: 90px;
  margin-bottom: 50px;
}

.dummyUser{
  height:10vh;
  width:10vw;
  background-color:gray;
}
