.listingContainer{
  display: flex;
  justify-content: space-between;
  border-bottom: solid .1em rgba(255, 255, 255, 0.2);
}

.listingBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.listingBtnContainer button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0;
  font-size: 1em;
  padding: .4em;
  margin: 0 .2em;
  width: 100%;
}
.listingBtnContainer button:hover {
  background: rgba(255, 255, 255, 0.3);
}
.listingBtnContainer button:active {
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 700px) {
  .listingContainer{
    text-align: center;
    padding-bottom: .5em;
    flex-direction: column;
  }
}